@import url("https://unpkg.com/@rose-pine/palette/css/rose-pine.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400&display=swap");

body {
  padding: 0;
  margin: 0;
  cursor: none;
  overflow: hidden;

  background-color: var(--rose-main-base);
  font-family: "Work Sans", sans-serif;
  color: var(--rose-main-subtle);
}

#cursor {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--rose-main-iris);
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  z-index: 2;
  mix-blend-mode: difference;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: row;
  user-select: none;
}

#card {
  background-color: var(--rose-main-surface);
  padding: 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 16px 12px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

#card:hover {
  transform: translate(-1rem, -1rem);
}

img {
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center > p {
  margin: 0rem;
}

.center > p:last-child {
  margin-bottom: 1rem;
}

.highlight {
  color: var(--rose-main-iris);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--rose-main-text);
}
