@import url('https://unpkg.com/@rose-pine/palette/css/rose-pine.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:200&display=swap');
@import url('https://unpkg.com/bootstrap-icons@1.8.0/font/bootstrap-icons.css');
body {
	padding: 0;
	margin: 0;
	cursor: none;

	background-color: var(--rose-main-base);
	font-family: 'Work Sans', sans-serif;
	color: var(--rose-main-subtle);
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--rose-main-surface);
}

body::-webkit-scrollbar-thumb {
	background: var(--rose-main-iris);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	color: var(--rose-main-text);
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

.cursor {
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 0.5rem;
	background: var(--rose-main-iris);
	top: var(--y, 0);
	left: var(--x, 0);
	z-index: 2;
}

.no-overflow {
	overflow: hidden;
}

.container {
	display: flex;
	user-select: none;
}

.card {
	background-color: var(--rose-main-surface);
	padding: 1.3rem;
	border-radius: 0.5rem;
	box-shadow: 16px 12px rgba(0, 0, 0, 0.5);

	display: flex;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
}

.image {
	border-radius: 0.5rem;
	margin-right: 2rem;
}

.column {
	flex-direction: column;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bio {
	justify-content: flex-start;
}

.bio > p {
	margin: 0rem;
}

.bio > p:last-child {
	margin-bottom: 1rem;
}

.highlight {
	color: var(--rose-main-iris);
}

@media (min-width: 576px) {
	.cursor {
		display: none;
	}
}

@media (min-width: 768px) {
	.cursor {
		display: none;
	}
}

@media (min-width: 992px) {
	.cursor {
		display: block;
	}
}

.navbar {
	height: 100vh;
	position: fixed;
	width: 4rem;
	background-color: var(--rose-main-surface);
	box-shadow: 7px 0px 17px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 4rem;
	color: var(--rose-main-text);
	text-decoration: none;
	cursor: none;
	transition: all 0.5s ease-out !important;
}

.icon {
	font-size: 2rem;
	margin: 0 1rem;
	transition: ease-out 0.2s;
}

.icon:hover {
	filter: brightness(150%);
}

.socials a {
	color: var(--rose-main-text);
	text-decoration: none;
	cursor: none;
}

.socials .icon {
	font-size: 1rem;
	margin: 0 5px;
}

.posts {
	padding-left: 1rem;
}

.posts li {
	text-align: left;
}

.posts li a {
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	color: var(--rose-main-iris);
	transition: text-decoration-color 0.5s ease-out;
	cursor: none;
}

.posts li a:hover {
	text-decoration-color: var(--rose-main-iris);
}

.posts li:last-child {
	margin-bottom: 1rem;
}

.post {
	max-width: 35vw;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.post p:first-child {
	margin-top: 0;
}

.post p {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.post img {
	max-width: 35vw;
	margin-top: 2rem;
	margin-bottom: 1rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-left: 5px solid var(--rose-main-iris);
}

.post code {
	padding: 0.1rem 0.4rem;
	border-radius: 0.2rem;
	color: var(--rose-main-iris);
	background-color: var(--rose-main-base);
	font-family: 'Fira Code', monospace;
	white-space: pre-wrap;
}

.post pre {
	padding: 1em;
	margin-top: 0px;
	margin-bottom: 2.5rem;
	font-size: 0.9em;
	background-color: var(--rose-main-base);
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-left: 5px solid var(--rose-main-iris);
}

.post pre > code {
	padding: 0;
}

.toast {
	min-width: 250px;
	margin-left: -125px;
	background-color: rgb(25, 23, 36, 0.8);
	border: 2px solid var(--rose-main-iris-rgb);
	color: var(--rose-main-text);
	text-align: center;
	border-radius: 0.5rem;
	padding: 1rem;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 1.5rem;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
